@model Regulations.Models.Regulation
@{
    //ViewData["Title"] = "Список нормативной документации";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Regulation Edition Page</title>
</head>
<body>
    
    <div>
        <h3>Добавление записей в БД.</h3>
        <form asp-action="AddRegulation" asp-controller="Regulations" asp-antiforgery="true" method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="Added" value="@DateTime.Now" />
            <table>
                <tr>
                    <td>Краткое наименование нормативной документации</td>
                    <td><input type="text" asp-for="ShortName" placeholder="Например, шифр..." /></td>
                </tr>
                <tr>
                    <td>Полное наименование нормативной документации</td>
                    <td><input type="text" asp-for="FullName" placeholder="Подробнее..." /></td>
                </tr>
                <tr>
                    <td>Введите ссылку на документацию</td>
                    <td><input type="text" asp-for="Link" placeholder="Url-адрес..." /></td>
                </tr>
                <tr>
                    <td>Ваш Id:</td>
                    <td><input type="text" asp-for="UserId" placeholder="Ваш Id..." /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить изменения" /></td><td></td></tr>
            </table>
        </form>
    </div>
    
</body>
</html>