@{
    Layout = null;
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="text/html" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@localizer["strAccessDenied"]</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center d-block">
            <div class="col-10">
                <p><h2 >@localizer["strNotEnoughRights"]</h2></p>
                <p><h2 >@localizer["strWriteAdmin"]</h2></p>   
            </div> 
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <img  src="/image/accessDenied.jpg" alt="Picture" class="img403 rounded ">
            </div>
        </div>
    </div>
</body>

</html>
