
@{    
    Layout = null;
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="text/html" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@localizer["strAccessDenied"]</title>
</head>
<body>
    <h2>@localizer["strNotEnoughRights"]</h2>
    <h2>@localizer["strWriteAdmin"]</h2>

    <div class="img403">
        <img src="/image/accessDenied.jpg" alt="Picture">
    </div>
    
</body>
</html>

