@Model IEnumerable<Regulations.Models.Regulation>
@{
    //ViewData["Title"] = "Список нормативной документации";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>СП</title>
</head>
<body>
    <h3>Нормы</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Дата</td>            
        </tr>
        @foreach (var reg in Model)
        {
    <tr>
        <td>@reg.ShortName</td>
        <td>@reg.Added</td>
        <td><a href="~/Regulations/UpdateRegulation/@reg.Id/" name="UpdateRegLink" type="text/html">Изменение записи</a></td>
        <td><a href="~/Regulations/DeleteRegulation/@reg.Id/" name="DeleteRegLink" type="application/x-www-form-urlencoded">Удаление записи</a></td>
        <td></td>

    </tr>
        }
    <tr>
        <td></td>        
        <td></td>
        <td></td>
        <td><a href="~/Regulations/AddRegulation/" name="AddRegLink" type="text/html">Добавление новых записей</a></td>
    </tr>
    </table>
</body>
</html>